<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#111111">
    <meta name="background-color" content = "#111111">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
	<meta name="msapplication-TileColor" content="#111111">

    <title>Minus1</title>
    <link rel="stylesheet" href="/static/minus1.css?q={{ key }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<section>
    <aside></aside>
    <main>
        <div>
            <h2>There are</h2>
            <h1 id="pop">{{ pop }}</h1>
            <h2>humans in my way</h2>
            <h2>of finding you.</h2>
        </div>
    </main>
    <aside class="fade"></aside>
    <footer id="log">
        {% for press in presses %}
        <p>{{ press }}</p>
        {% endfor %}
    </footer>
</section>

<section>
    <main>this is page 2</main>
</section>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8">
    const socket = io.connect('http://' + document.domain + ':' + location.port);
    let interval;
    socket.on('connect', function() {
        interval = setInterval(function() {socket.emit('ping', null);}, 1000);
    });
    socket.on('disconnect', function() {
        clearInterval(interval);
    });
    socket.on('press', function(x) {
        $("<p></p>")
            .text(x)
            .hide()
            .appendTo("#log")
            .slideDown();
    });

    function updatePopulation() {
        const now = new Date();

        const todaysdate = new Date(now.getFullYear(),now.getMonth(),now.getDate(),0,0,0,0);
        const jul18 = new Date(1530403200000); //new Date("Jul 1, 2018");
        const seconds_today = (now.getTime()-todaysdate.getTime())/1000;

        const seconds_since_jul18_server = Math.round(now.getTime() - jul18.getTime())/1000;

        let pop = Math.round( seconds_since_jul18_server * 2.5907 + 7632819325 - (seconds_today) * 2.5907)
            + Math.round((seconds_today) * 4.4634)
            - Math.round((seconds_today) * 1.8727);

        pop = pop - 1;
        pop = "" + pop;
        for (let i = pop.length - 3; i > 0; i -= 3) {
            pop = pop.substring(0, i) + "," + pop.substring(i);
        }
        $("#pop").text(pop);
        requestAnimationFrame(updatePopulation);
    }
    requestAnimationFrame(updatePopulation);
</script>

</body>
</html>
